table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background: white;
}

thead th:nth-child(1) {
    width: 32%;
}

thead th:nth-child(2) {
    width: 17%;
}

thead th:nth-child(3) {
    width: 17%;
}

thead th:nth-child(4) {
    width: 17%;
}
thead th:nth-child(5) {
    width: 17%;
}

th, td {
    padding: 5px;
}
th {
    padding-top:15px;
}
thead {
    border-bottom:1px solid black;
}
thead th {
    padding-bottom: 20px;
}
tbody td:nth-child(1) {
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}
tbody td {
    border-bottom:1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.app {
    margin:10px;
}
.circle {
    background: lightgreen;
    border-radius: 50px;
}
.empty {
    border: 1px solid  rgba(0, 0, 0,0.2);
    border-radius: 50px;
}
.title,.subtitle {
    letter-spacing: 2px;
    color:white;
    margin:0;
    background: black;
    text-transform: uppercase;
}
.subtitle {

    /*border: 1px solid white*/
}
.sub2Title {
    text-align: center;
    background: black;
    color:white;
    margin-top:2px;

    text-transform: uppercase;
}
.top-menu {
     background: black;
     padding:10px;
     justify-content: space-between;
 }
.bottom-menu {
    background: black;
    justify-content: flex-end;
}
.menu {
    display: flex;
    flex-direction:row;
}
html,body  {
    font-size:30px;
    /*background: url(bois.jpg);*/
    padding:0;margin:0;
    width:100%;
    height:100%;
}
body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}
img {
    width:7%;
    height:7%;
}
.button {
    font-size:30px;
    margin:5px;
    border: none;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button-validate {
    background:blue;
    color:white;
}
.button-cancel {
    background:orange;
    color:white;
}
.button-disabled {
    background:grey;
    color:black;
}
@media only screen and (max-width: 900px) {
    html,body  {
        font-size:20px;
    }
    .button  {
        font-size:15px;
    }
}
@media only screen and (max-width: 420px) {
    html,body{
        font-size:15px;
    }
    .button  {
        font-size:10px;
    }
}


.neon {

    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
    0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
    0 0 40px #A5F1FF;
}
